@media only screen and (max-width:600px){
  body{

  }
  .mobile{
    display: block;
  }

.sideBar {
  display: none;
  width: 60%;
  right: 0;
  margin-top: 4rem;
  height: 50%;
  opacity: 0.9;
  position: absolute;
}
#username{
  font-weight: 500;
  color: white;
  margin-top: 3rem;
}


.fix{
  width: 96%;
  
}
.sideBar .user{
  display: none;
}
.container{
  left: 0;
}
.grid{
  display: grid;
  grid-template-columns: auto auto;
  margin-left: .2rem;
}
.col{
  padding: .5rem;
}
.col img{
  width: 10rem;
  height: 10rem;
}
input{
  display: none;
}
.footer{
  width: 100%;
  height: fit-content;
}
.lorem{
  padding: 0;
  font-size: 13px;
  margin-bottom: 1rem;
}
.footer .flex{
  width: 90%;
  font-size: 12px;
}
}