@media only screen and (max-width:600px){
  body{
    width: 100vw;
  }
  .mobile{
    display: block;
  }

.sideBar {
  display: none;
  width: 15rem;
  margin-top: 3rem;
right: 0;  
margin-right: .5rem;
height: 40rem;
padding: 0%
;
opacity: 0.9;
position: absolute;
  
}
.logo img{
  width: 50%;
  height: 30%;
}
#username{
  width: fit-content;
text-align: center;
margin: 1.5rem 4rem; 
}


.fix{
  width: 96%;
 
  
}
.block{
padding: .5rem 2rem;
width: 10rem;
}

.container{
  left: 0;
}
.block:hover{
  border: none;
  border-left: 2px solid white;
  

}
.sideFooter{
  width: 13rem;
}
.grid{
  grid-template-columns: auto auto;
  margin: 1rem 1rem 0;
  width: 92%;
  
}
.col{
 
  padding: .5rem;
}
.col img{
  width: 10rem;
  height: 7rem;

}
input{
  display: none;
}
.footer{
  
}
.lorem{
  font-size: 12px;
  width: 80%;

}
.footer{
  width: 99%;
}
.footer .flex{
  font-size: 12px;
  width: 85%;
 
}
#foot:hover{
  color: wheat;
}
.copy{
  width: 95%;
}
}